@media only screen and (min-width: 850px) {
  .desktop-card {
    border: 1px solid black;
    width: max-content;
    min-width: 143px;
    min-height: 51px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media only screen and (max-width: 850px) {
  .desktop-card {
    display: none;
  }
}
